<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Request Form</title>
</head>
<body>
    <h1>LAB REQUEST FORM</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for section in sections %}
            <h3>{{ section.name }}</h3>
            {% for labtest in section.labtest_set.all %}
                <label>
                    <input type="checkbox" name="selected_labs" value="{{ labtest.name }}">
                    {{ labtest.name }}
                </label><br>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
   
</body>
</html> 
 


  <!-- your_template.html -->

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Save User Lab Temporary</title>
</head>
<body>
    <h1>Save User Lab Temporary</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
</body>
</html> -->
